<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Item LoL Shop</title>
    <link rel ="stylesheet" type="text/css"
          href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
    <nav>
        <ul>
            <li><a methods="POST" href="{{ url_for('home') }}">Shop</a></li>
            <li><a methods="POST" href="{{ url_for('get_pseudo') }}">{{connection}}</a></li>
            <li><a methods="GET" href="{{ url_for('panier') }}">Panier ({{panier_len}})</a></li>
            <li><a methods="GET" href="/coin">Pièce d'or{{gold}}</a></li>
        </ul>
    </nav>

<!-- {% for item in results %}
<h2>ID: {{ item.id }} Name: {{ item.name }} Surname: {{ item.surname }}</h2>
{% endfor %}-->

<!--<h1>To add a new student , Please fill out the form</h1> -->




<div class='div_table'>
 {% for row in results %}
 <tr>
  <img src={{row[6]}}>
     <td> Name : </td>
 <td>{{row[1]}}</td>
     <td> Describe : </td>
 <td>{{row[2]}}</td>
     <td> Price : </td>
 <td>{{row[3]}}</td>
<td> Tag : </td>
 <td>{{row[5]}}</td>
     <form method="POST" action="/panier">
     <input type="submit" value="Ajouter au Panier">
         <input type="hidden" name="code" value={{row[0]}}>
         </form>

     <form method="POST" action="{{url_for('del_item_bdd_n_shop')}}"><input type="submit" value={{admin_suppr_item}}>
              <input type="hidden" name="code" value={{row[0]}}>
     </form>

    <br><br>
{% endfor %}
</div>

<a methods="GET" href="/add_item_admin">{{add_for_admin}}</a>

<!--<p><a href="{{ url_for('get_pseudo') }}"> {{identifier_vous}} </a></p>-->

</body>
</html>