<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Créer un compte</title>
    <link rel ="stylesheet" type="text/css"
          href="{{ url_for('static', filename='new_visitor.css') }}">
</head>
<body>
<form method="POST"
    action="/newpseudo">
    <div class="inputs">
        <h1> Identifiant : </h1>
        <input type="text" name="identifiant">
        <br/><br>
        <h1> Mot de passe : </h1>
        <input type="password" name="mot_de_passe">
        <br/><br>
        <h1> Confirmer mot de passe : </h1>
        <input type="password" name="mot_de_passe_confirme">
        <input class="create"type="submit" value="Creer un compte">
    </div>
    <br/><br><br/><br>
    </form>

<form method="GET"
    action="/pseudo">
    <h2> Deja client ?</h2>
    <br/><br>
    <input class="connect" type="submit" value="Se connecter">
</form>

<h4> {{ error_message }}</h4>
</body>
</html>