<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Connection</title>
    <link rel ="stylesheet" type="text/css"
          href="{{ url_for('static', filename='page_get_pseudo.css') }}">
</head>
<body>
    <nav>
        <div class="logo"> LOL eShop</div>
		<label class="Menu-b"></label>
        <ul>
            <li><a methods="POST" href="{{ url_for('home') }}">Shop</a></li>
            <li><a methods="POST" href="{{ url_for('get_pseudo') }}">{{connection}}</a></li>
            <li><a methods="GET" href="{{ url_for('panier') }}">Panier ({{panier_len}})</a></li>
            <li><a methods="GET" href="/coin">Pièce d'or{{gold}}</a></li>
        </ul>
    </nav>

    <h1> {{msg_get_speudo}}</h1>

<form method="POST"
    action="/pseudo">
    <div class="inputs">
    <input type="text" name="identifiant" placeholder="Identifiant">
        <br/><br>
    <input type="password" name="mot_de_passe" placeholder="Mot de passe">
    </div>
    <input class="connexion" type="submit" value="Se connecter">
    <br/><br><br/><br>
    </form>

<form method="GET"
    action="/newpseudo">
    <h2> Nouveau Client ?</h2>
    <br/><br>
    <input class="connexion" type="submit" value="Créer un compte">
</form>

<h4>{{ error_message }}</h4>

</body>
</html>