<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link rel ="stylesheet" type="text/css"
          href="{{ url_for('static', filename='panier.css') }}">
</head>
<body>
    <nav>
        <div class="logo"> LOL eShop</div>
		<label class="Menu-b"></label>
        <ul>
            <li><a methods="POST" href="{{ url_for('home') }}">Shop</a></li>
            <li><a methods="POST" href="{{ url_for('get_pseudo') }}">{{connection}}</a></li>
            <li><a methods="GET" href="{{ url_for('panier') }}">Panier ({{panier_len}})</a></li>
            <li><a methods="GET" href="/coin">Pièce d'or{{gold}}</a></li>
        </ul>
    </nav>

    <h1>Mon panier</h1>

<div class='div_table'>
 {% for row in results %}
    <br><br>
 <tr>
     <td> Name : </td>
 <td>{{row[1]}}</td>
     <br><br>
     <td> Price : </td>
 <td>{{row[3]}} Po</td>
     <br><br>
     <form method="POST" action="{{url_for('del_elem_in_cart')}}">
     <input type="submit" value="Supprimer du panier">
         <input type="hidden" name="code" value={{row[0]}}>
         </form>



    <br><br>
{% endfor %}
</div>

<h2> Vous avez {{panier_len}} item dans votre panier</h2>

 <a class="vider" href="/clear_panier">Vider tout mon panier</a>
<br><br>
<h2>Total : {{total_price}} </h2>
    <br><br>
 <a class="valid "href="/congrat">Valider mon Panier</a>

</body>
</html>