<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link rel ="stylesheet" type="text/css"
          href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a methods="POST" href="{{ url_for('home') }}">Shop</a></li>
            <li><a methods="POST" href="{{ url_for('get_pseudo') }}">{{connection}}</a></li>
            <li><a methods="GET" href="{{ url_for('panier') }}">Panier ({{panier_len}})</a></li>
            <li><a methods="GET" href="/coin">Pièce d'or{{gold}}</a></li>
        </ul>
    </nav>

 <div class=”Cart-Container”></div>

<div class=”Header”>
 <h3 class=”Heading”>Shopping Cart</h3>

 </div>

<div class='div_table'>
 {% for row in results %}
 <tr>
  <img src={{row[6]}}>
     <td> Name : </td>
 <td>{{row[1]}}</td>
     <td> Price : </td>
 <td>{{row[3]}}</td>
     <form method="POST" action="{{url_for('del_elem_in_cart')}}">
     <input type="submit" value="Supprimer du panier">
         <input type="hidden" name="code" value={{row[0]}}>
         </form>



    <br><br>
{% endfor %}
</div>

<h5> Vous avez {{panier_len}} item dans votre panier</h5>

 <a href="/clear_panier">Vider tout mon panier</a>
<br><br>
    Total : {{total_price}}
    <br><br>
 <a href="/congrat">Valider mon Panier</a>

</body>
</html>