<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Setting Accountp</title>
    <link rel ="stylesheet" type="text/css"
          href="{{ url_for('static', filename='setting_account.css') }}">
</head>
<body>
    <nav>
        <div class="logo"> LOL eShop</div>
		<label class="Menu-b"></label>
        <ul>
            <li><a methods="POST" href="{{ url_for('home') }}">Shop</a></li>
            <li><a methods="POST" href="{{ url_for('get_pseudo') }}">{{connection}}</a></li>
            <li><a methods="GET" href="{{ url_for('panier') }}">Panier ({{panier_len}})</a></li>
            <li><a methods="GET" href="/coin">Pièce d'or{{gold}}</a></li>
        </ul>
    </nav>

<h1> Setting :</h1>


    <table style="visibility:{{table_hide}};color:white;" border=2>
 <thead>
 <td>ID</td>
 <td>Name</td>
 <td>Password</td>
  <td>Gold</td>
  <td>Is Admin</td>
  <td>Delete</td>
 <td>Change admin status</td>
  </thead>


 {% for row in result %}
 <tr>
 <td>{{row[0]}}</td>
 <td>{{row[1]}}</td>
 <td>{{row[2]}}</td>
      <td>{{row[3]}}</td>
      <td>{{row[4]}}</td>
              <form method="POST" action="{{url_for('get_pseudo')}}">
<input type="hidden" name="code" value={{row[0]}}>
     <td><input type="submit" value=Supprimer></td>
                  </form>
                   <form method="POST" action="{{url_for('change_admin_status')}}">
<input type="hidden" name="code" value={{row[0]}}>
     <td><input type="submit" value=Change></td>
                  </form>



 {% endfor %}
 </table>
<br><br>


<a class="disconect" methods="GET" href="{{ url_for('disconnect') }}">Se déconnecter</a>


</body>
</html>