<!DOCTYPE html>  
 <html>  
 <head>  
     <title>List</title>  
 </head>  
 <body>  
 <h3>Item Lol Info</h3>



 {% for row in rows %}  
 <tr>
  <img src={{row["item_img_path"]}}>
 <td>{{row["item_img_path"]}}</td>
 <td>{{row["item_id"]}}</td>
 <td>{{row["item_name"]}}</td>
 <td>{{row["item_explain"]}}</td>
 <td>{{row["item_buy_price"]}}</td>
 <td>{{row["item_sell_price"]}}</td>
 <td>{{row["item_tag"]}}</td>

   <br><br>
 </tr>  
 {% endfor %}


 <img src=https://static.wikia.nocookie.net/leagueoflegends/images/d/df/Faerie_Charm_item.png/revision/latest/smart/width/40/height/30?cb=20201118204200>

 <br><br>


 <a href="/home">Retourner à la page home</a>
 <h3> {{pseudo}} </h3>
 </body>  
 </html> 